body {
  background-color: #000;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 60%;
}

#logo {
  display: block;
  text-align: center;
}
#logo img {
  height: 120px;

}
#listTitle {
  display: block;
  text-align: center;
  font-size: 50px;
}

.hidden {
  visibility: none;
}

ul {
  margin-top: 40px;
  padding-bottom: 10px;
  width: 50%;
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid #fff;
}

li {
  width: 100%;
  list-style: none;
  border-bottom: 2px solid #fff;
}

#addNew, #removeItem {
  margin-top: 40px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#addItem {
  float: left;
  width: 140px;
  margin-top: 5px;
  margin-right: 10px;
}

#addQuantity {
  float: left;
  width: 80px;
  margin-top: 5px;
  margin-right: 5px;
}

#addPrice {
  float: left;
  width: 80px;
  margin-top: 5px;
  margin-right: 10px;
}
